body {
    background-image: url("images/pixel_weave.png");
}

.jumbotron {
    background-color: rgb(194, 67, 8);
    text-align: center;
    color: white;
    font-weight: bold;
    
}

.jumbotron>h1 {
    font-size:50px;
}

.jumbotron>p {
    font-size: 20px;
}

.card-header {
    background-color: rgb(53, 136, 245);
    font-weight: bold;
    color: white;
}

label {
    font-weight: bold;
}

.btn {
    font-weight: bold;
    color: white;
    background-color: rgb(53, 136, 245);
}



